{% extends "layout/base.html.twig" %}

{% block title %}
	{{ single_news.title}}
{% endblock %}

{% block body %}

	<section class="site-section py-lg">
		<div class="container">

			<div class="row blog-entries element-animate">

				<div class="col-md-12 col-lg-8 main-content">

					<div class="post-content-body">
						<img style="width: 100%; max-height: auto;" class="img-fluid rounded" src="{{ vich_uploader_asset(single_news, 'imageFile') }}">
						<h1>{{ single_news.title }}</h1>
						<p>{{ single_news.description }}</p>
					</div>

					<div class="comment-form-wrap pt-5">

						<h3 class="mb-5">Laisser un commentaire</h3>

						<div class="p-3 bg-dark">

							{% if app.user %}

								{{ form_start(form) }}
								{{ form_widget(form.content, {'attr': {'class':'form form-control', 'placeholder':'votre commentaire...'}}
								) }}
								<input type="submit" value="Envoyer" class="btn btn-primary my-3">
								{{ form_end(form) }}

							{% else %}
								<p>Vous devez être connecté pour laisser un message !</p>
								<a href="{{ path('app_login') }}">Se Connecter</a>
							{% endif %}

							{# {{ dump(comments) }} #}

						</div>

						<ul class="comment-list">

							{% for comment in comments %}
								<li class="comment">
									<div class="comment-body">
										<h3>{{ comment.author.firstName ~ " " ~ comment.author.lastName }}</h3>
										<div class="meta text-dark">{{ comment.createdAt|ago }}</div>
										<p>{{ comment.content }}</p>
											<a href="#" class="reply rounded">Réponse</a>
										</p>
									</div>
								</li>
							{% endfor %}

						</ul>

					</div>
				</div>

				<!-- END main-content -->

				<div class="col-md-12 col-lg-4 sidebar">
					<div class="sidebar-box search-form-wrap">
						<form action="#" class="search-form">
							<div class="form-group">
								<span class="icon fa fa-search"></span>
								<input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
							</div>
						</form>
					</div>
					<!-- END sidebar-box -->

					<div class="sidebar-box">
						<h3 class="heading">Posts les + populaires</h3>
						<div class="post-entry-sidebar">
							<ul>
								<li>
									<a href="">
										<imgsrc="{{asset('assets/images/Me.png')}}" alt="Image placeholder" class="mr-4">
											<div class="text">
												<h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
												<div class="post-meta">
													<span class="mr-2">15 Mars 2018</span>
												</div>
											</div>
										</a>
									</li>
								</li>
								<li>
									<a href="">
										<imgsrc="{{asset('assets/images/Me.png')}}" alt="Image placeholder" class="mr-4">
											<div class="text">
												<h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
												<div class="post-meta">
													<span class="mr-2">31 Juillet 2021</span>
												</div>
											</div>
										</a>
									</li>
								</li>
								<li>
									<a href="">
										<imgsrc="{{asset('assets/images/Me.png')}}" alt="Image placeholder" class="mr-4">
											<div class="text">
												<h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
												<div class="post-meta">
													<span class="mr-2">07 Janvier 2022</span>
												</div>
											</div>
										</a>
									</li>
								</li>
							</ul>
						</div>
					</div>
					<!-- END sidebar-box -->

					<div class="sidebar-box">
						<h3 class="heading">Categories</h3>
						<ul class="categories">
							<li>
								<a href="#">Food
									<span>(12)</span>
								</a>
							</li>
							<li>
								<a href="#">Travel
									<span>(22)</span>
								</a>
							</li>
							<li>
								<a href="#">Lifestyle
									<span>(37)</span>
								</a>
							</li>
							<li>
								<a href="#">Business
									<span>(42)</span>
								</a>
							</li>
							<li>
								<a href="#">Adventure
									<span>(14)</span>
								</a>
							</li>
						</ul>
					</div>
					<!-- END sidebar-box -->

				</div>
			</div>
		</section>

	{% endblock %}
